<!--breadcumb start here-->
<section class="banner-inner-sec" style="background-image:url(<%= asset_path 'services/service-banner-v1.jpg' %>)">
	<div class="banner-table">
		<div class="banner-table-cell">
			<div class="container">
				<div class="banner-inner-content">
					<h2 class="banner-inner-title">Services</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<!--breadcumb end here-->
<!--  service inner section -->
<section class="service-inner-v2-sec">
    <div class="container">
        <div class="service-v2-item">
            <div class="row">
                <div class="col-lg-7 col-md-6">
                    <div class="single-service-v2-img">
                        <%= cl_image_tag "avgarden/Photo-19", :crop => "scale", :width => 800 %>
                    </div>
                </div>
                <div class="col-lg-5 align-self-center col-md-6">
                    <div class="single-service-v2-content">
                        <h3><span class="light-text">We provide </span> awesome garden service</h3>
                        <p>People enjoy having well kept and tidy looking lawns and gardens, and professional gardeners can help them create and maintain their home's curb appeal. Flowers, bushes and small trees are just a few of the elements that professional gardeners use to create landscapes that attract and inspire. Designing and installing gardens allows you to express your creativity.
                        </p>
                    </div>
                </div>
            </div><!-- row end-->
        </div><!-- service-v2-item end-->

        <div class="single-service-v2-item section-bg">
            <div class="row">
                <div class="col-lg-5 col-md-5 align-self-center">
                    <div class="single-service-v2-content">
                        <h4 class="xs-single-title"> Lawn care</h4>
                        <p>Insect and weed control. Great lawn care works hard on preventing and controlling the spread of various weeds and pests as they pop up on your lawn throughout the year. Soil aeration and other services. Services such as soil aeration that give your soil room to breathe and your grass room to grow.
                        </p>
                        <%= link_to 'Details', lawn_care_path, class: "load-more-btn" %>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 col-md-7">
                    <div class="single-service-v2-img">
                        <%= cl_image_tag "avgarden/Photo-31", :crop => "scale", :width => 600 %>
                        <i class="icon-Our_service_1"></i>
                    </div>
                </div>
            </div><!-- row end-->
        </div><!-- service-v2-item end-->

        <div class="single-service-v2-item single-service-v2-item-1">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="single-service-v2-img">
                        <%= image_tag 'services/service_style_17.jpg' %>
                        <i class="icon-recent_work_6"></i>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 align-self-center col-md-5">
                    <div class="single-service-v2-content">
                        <h4 class="xs-single-title"> Roof gutter cleaning (no higher than 10ft)</h4>
                        <p>
                            We pull the debris down out of the valleys and, if needed, can air blow loose debris like leaves and needles off the roof. We make sure the downspouts are clean and we clean up any mess we may make in the process. We are not able to clean downspouts below ground level. We are able to make minor repairs such as sealing leaking seams and fastening up gutters that have started to pull away and sag. We also clean gutter fascia for which a separate bid is required. We are happy to do a free on-site bid on you gutters
                        </p>
                        <a href="#" class="load-more-btn">Details</a>
                    </div>
                </div>
            </div><!-- row end-->
        </div><!-- service-v2-item single-service-v2-item-1 end-->

        <div class="single-service-v2-item section-bg">
            <div class="row">
                <div class="col-lg-5  col-md-5 align-self-center">
                    <div class="single-service-v2-content">
                        <h4 class="xs-single-title">Garden maintenance</h4>
                        <p>
                            Keep your garden spaces looking fresh, beautiful and healthy all season long with our maintenance service program. We offer a variety of services that will be customized to meet all your garden care needs. Your plants, shrubs, trees and seasonal containers will thank you!
                        </p>
                        <a href="#" class="load-more-btn">Details</a>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 col-md-7">
                    <div class="single-service-v2-img">
                        <%= cl_image_tag "avgarden/Photo-62", :crop => "scale", :width => 600 %>
                        <i class="icon-Our_service_2"></i>
                    </div>
                </div>
            </div><!-- row end-->
        </div><!-- service-v2-item end-->

         <div class="single-service-v2-item single-service-v2-item-1">
            <div class="row">
           
                <div class="col-lg-6 col-md-7">
                    <div class="single-service-v2-img">
                        <%= cl_image_tag "avgarden/Photo-47", :crop => "scale", :width => 600 %>
                        <i class="icon-Our_service_3"></i>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-5 align-self-center">
                    <div class="single-service-v2-content">
                        <h4 class="xs-single-title"> Fencing and Fence painting</h4>
                        <p>Eleifend dapibus magna potenti integer aptent id Faucibus gravida faucibus
                             maecenas orci nascetur. Aliquet ornare maecenas ac magna
                        </p>
                        <a href="#" class="load-more-btn">Details</a>
                    </div>
                </div>
            </div><!-- row end-->
        </div><!-- service-v2-item single-service-v2-item-1 end-->

         <div class="single-service-v2-item section-bg">
            <div class="row">
                <div class="col-lg-5  col-md-5 align-self-center">
                    <div class="single-service-v2-content">
                        <h4 class="xs-single-title">Weeding</h4>
                        <p>Eleifend dapibus magna potenti integer aptent id Faucibus gravida faucibus
                             maecenas orci nascetur. Aliquet ornare maecenas ac magna
                        </p>
                        <a href="#" class="load-more-btn">Details</a>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 col-md-7">
                    <div class="single-service-v2-img">
                        <%= cl_image_tag "avgarden/Photo-42", :crop => "scale", :width => 600 %>
                        <i class="icon-Our_service_2"></i>
                    </div>
                </div>
            </div><!-- row end-->
        </div><!-- service-v2-item end-->

         <div class="single-service-v2-item single-service-v2-item-1">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="single-service-v2-img">
                        <%= cl_image_tag "avgarden/Photo-10", :crop => "scale", :width => 600 %>
                        <i class="icon-Our_service_3"></i>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 align-self-center col-md-5">
                    <div class="single-service-v2-content">
                        <h4 class="xs-single-title"> Grass and Hedge cutting</h4>
                        <p>Eleifend dapibus magna potenti integer aptent id Faucibus gravida faucibus
                             maecenas orci nascetur. Aliquet ornare maecenas ac magna
                        </p>
                        <a href="#" class="load-more-btn">Details</a>
                    </div>
                </div>
            </div><!-- row end-->
        </div><!-- service-v2-item single-service-v2-item-1 end-->

        
        <div class="single-service-v2-item section-bg">
            <div class="row">
                <div class="col-lg-5 align-self-center col-md-5">
                    <div class="single-service-v2-content">
                        <h4 class="xs-single-title">Garden waste removal</h4>
                        <p>Eleifend dapibus magna potenti integer aptent id Faucibus gravida faucibus
                             maecenas orci nascetur. Aliquet ornare maecenas ac magna
                        </p>
                        <a href="#" class="load-more-btn">Details</a>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 col-md-7">
                    <div class="single-service-v2-img">
                        <%= cl_image_tag "avgarden/Photo-4", :crop => "scale", :width => 600 %>
                        <i class="icon-Our_service_4"></i>
                    </div>
                </div>
            </div><!-- row end-->
        </div><!-- service-v2-item end-->

         <div class="single-service-v2-item single-service-v2-item-1">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="single-service-v2-img">
                    	<%= image_tag 'services/service_style_17.jpg' %>
                        <i class="icon-recent_work_6"></i>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 align-self-center col-md-5">
                    <div class="single-service-v2-content">
                        <h4 class="xs-single-title"> Jet wash / high pressure washer</h4>
                        <p>Eleifend dapibus magna potenti integer aptent id Faucibus gravida faucibus
                             maecenas orci nascetur. Aliquet ornare maecenas ac magna
                        </p>
                        <a href="#" class="load-more-btn">Details</a>
                    </div>
                </div>
            </div><!-- row end-->
        </div><!-- service-v2-item single-service-v2-item-1 end-->

        <div class="single-service-v2-item section-bg">
            <div class="row">
                <div class="col-lg-5 col-md-5 align-self-center">
                    <div class="single-service-v2-content">
                        <h4 class="xs-single-title"> Garden shed making</h4>
                        <p>Eleifend dapibus magna potenti integer aptent id Faucibus gravida faucibus
                             maecenas orci nascetur. Aliquet ornare maecenas ac magna
                        </p>
                        <a href="#" class="load-more-btn">Details</a>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 col-md-7">
                    <div class="single-service-v2-img">
                        <%= image_tag 'services/service_style_17.jpg' %>
                        <i class="icon-Our_service_1"></i>
                    </div>
                </div>
            </div><!-- row end-->
        </div><!-- service-v2-item end-->

         <div class="single-service-v2-item single-service-v2-item-1">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="single-service-v2-img">
                        <%= cl_image_tag "avgarden/Photo-56", :crop => "scale", :width => 600 %>
                        <i class="icon-recent_work_6"></i>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 align-self-center col-md-5">
                    <div class="single-service-v2-content">
                        <h4 class="xs-single-title"> Planting</h4>
                        <p>Eleifend dapibus magna potenti integer aptent id Faucibus gravida faucibus
                             maecenas orci nascetur. Aliquet ornare maecenas ac magna
                        </p>
                        <a href="#" class="load-more-btn">Details</a>
                    </div>
                </div>
            </div><!-- row end-->
        </div><!-- service-v2-item single-service-v2-item-1 end-->

        <div class="single-service-v2-item section-bg">
            <div class="row">
                <div class="col-lg-5 col-md-5 align-self-center">
                    <div class="single-service-v2-content">
                        <h4 class="xs-single-title"> Landscaping</h4>
                        <p>Eleifend dapibus magna potenti integer aptent id Faucibus gravida faucibus
                             maecenas orci nascetur. Aliquet ornare maecenas ac magna
                        </p>
                        <a href="#" class="load-more-btn">Details</a>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 col-md-7">
                    <div class="single-service-v2-img">
                        <%= cl_image_tag "avgarden/Photo-13", :crop => "scale", :width => 600 %>
                        <i class="icon-Our_service_1"></i>
                    </div>
                </div>
            </div><!-- row end-->
        </div><!-- service-v2-item end-->
    </div><!-- .container end -->
</section><!-- End service inner section 