<!--breadcumb start here-->
<section class="banner-inner-sec" style="background-image:url(<%= asset_path 'services/service-banner-v1.jpg' %>)">
	<div class="banner-table">
		<div class="banner-table-cell">
			<div class="container">
				<div class="banner-inner-content">
					<h2 class="banner-inner-title">Services</h2>
					<ul class="xs-breadcumb">
						<li><a href="index.html"> Home  / </a> Services</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!--breadcumb end here-->
<!--  service inner section -->
<section class="service-inner-v2-sec">
    <div class="container">
        <div class="service-v2-item">
            <div class="row">
                <div class="col-lg-7 col-md-6">
                    <div class="single-service-v2-img">
                    	<%= image_tag 'services/service_style_11.jpg' %>
                    </div>
                </div>
                <div class="col-lg-5 align-self-center col-md-6">
                    <div class="single-service-v2-content">
                        <h3><span class="light-text">We provide </span> awesome garden service</h3>
                        <p>Cubilia curae ante cubilia erat platea nibh mi augue. Enim curabitur a Lorem. 
                            Facilisis dis sociosqu ligula. Diam sodales cum mollis cras enim.
                        </p>
                    </div>
                </div>
            </div><!-- row end-->
        </div><!-- service-v2-item end-->

         <div class="single-service-v2-item section-bg">
            <div class="row">
                <div class="col-lg-5 col-md-5 align-self-center">
                    <div class="single-service-v2-content">
                        <h4 class="xs-single-title"> All around Garden for all season</h4>
                        <p>Eleifend dapibus magna potenti integer aptent id Faucibus gravida faucibus
                             maecenas orci nascetur. Aliquet ornare maecenas ac magna
                        </p>
                        <a href="#" class="load-more-btn">Details</a>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 col-md-7">
                    <div class="single-service-v2-img">
                    	<%= image_tag 'services/service_style_12.jpg' %>
                        <i class="icon-Our_service_1"></i>
                    </div>
                </div>
            </div><!-- row end-->
        </div><!-- service-v2-item end-->

         <div class="single-service-v2-item single-service-v2-item-1">
            <div class="row">
           
                <div class="col-lg-6 col-md-7">
                    <div class="single-service-v2-img">
                    	<%= image_tag 'services/service_style_13.jpg' %>
                        <i class="icon-Our_service_3"></i>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-5 align-self-center">
                    <div class="single-service-v2-content">
                        <h4 class="xs-single-title"> Fencing and Fence painting</h4>
                        <p>Eleifend dapibus magna potenti integer aptent id Faucibus gravida faucibus
                             maecenas orci nascetur. Aliquet ornare maecenas ac magna
                        </p>
                        <a href="#" class="load-more-btn">Details</a>
                    </div>
                </div>
            </div><!-- row end-->
        </div><!-- service-v2-item single-service-v2-item-1 end-->

         <div class="single-service-v2-item section-bg">
            <div class="row">
                <div class="col-lg-5  col-md-5 align-self-center">
                    <div class="single-service-v2-content">
                        <h4 class="xs-single-title">Weeding</h4>
                        <p>Eleifend dapibus magna potenti integer aptent id Faucibus gravida faucibus
                             maecenas orci nascetur. Aliquet ornare maecenas ac magna
                        </p>
                        <a href="#" class="load-more-btn">Details</a>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 col-md-7">
                    <div class="single-service-v2-img">
                    	<%= image_tag 'services/service_style_14.jpg' %>
                        <i class="icon-Our_service_2"></i>
                    </div>
                </div>
            </div><!-- row end-->
        </div><!-- service-v2-item end-->

         <div class="single-service-v2-item single-service-v2-item-1">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="single-service-v2-img">
                    	<%= image_tag 'services/service_style_15.jpg' %>
                        <i class="icon-Our_service_3"></i>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 align-self-center col-md-5">
                    <div class="single-service-v2-content">
                        <h4 class="xs-single-title"> Grass and Hedge cutting</h4>
                        <p>Eleifend dapibus magna potenti integer aptent id Faucibus gravida faucibus
                             maecenas orci nascetur. Aliquet ornare maecenas ac magna
                        </p>
                        <a href="#" class="load-more-btn">Details</a>
                    </div>
                </div>
            </div><!-- row end-->
        </div><!-- service-v2-item single-service-v2-item-1 end-->

        
        <div class="single-service-v2-item section-bg">
            <div class="row">
                <div class="col-lg-5 align-self-center col-md-5">
                    <div class="single-service-v2-content">
                        <h4 class="xs-single-title">Garden waste removal</h4>
                        <p>Eleifend dapibus magna potenti integer aptent id Faucibus gravida faucibus
                             maecenas orci nascetur. Aliquet ornare maecenas ac magna
                        </p>
                        <a href="#" class="load-more-btn">Details</a>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 col-md-7">
                    <div class="single-service-v2-img">
                    	<%= image_tag 'services/service_style_16.jpg' %>
                        <i class="icon-Our_service_4"></i>
                    </div>
                </div>
            </div><!-- row end-->
        </div><!-- service-v2-item end-->

         <div class="single-service-v2-item single-service-v2-item-1">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="single-service-v2-img">
                    	<%= image_tag 'services/service_style_17.jpg' %>
                        <i class="icon-recent_work_6"></i>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 align-self-center col-md-5">
                    <div class="single-service-v2-content">
                        <h4 class="xs-single-title"> Jet wash / high pressure washer</h4>
                        <p>Eleifend dapibus magna potenti integer aptent id Faucibus gravida faucibus
                             maecenas orci nascetur. Aliquet ornare maecenas ac magna
                        </p>
                        <a href="#" class="load-more-btn">Details</a>
                    </div>
                </div>
            </div><!-- row end-->
        </div><!-- service-v2-item single-service-v2-item-1 end-->

        <div class="single-service-v2-item section-bg">
            <div class="row">
                <div class="col-lg-5 col-md-5 align-self-center">
                    <div class="single-service-v2-content">
                        <h4 class="xs-single-title"> Garden shed making</h4>
                        <p>Eleifend dapibus magna potenti integer aptent id Faucibus gravida faucibus
                             maecenas orci nascetur. Aliquet ornare maecenas ac magna
                        </p>
                        <a href="#" class="load-more-btn">Details</a>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 col-md-7">
                    <div class="single-service-v2-img">
                        <%= image_tag 'services/service_style_17.jpg' %>
                        <i class="icon-Our_service_1"></i>
                    </div>
                </div>
            </div><!-- row end-->
        </div><!-- service-v2-item end-->

         <div class="single-service-v2-item single-service-v2-item-1">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="single-service-v2-img">
                    	<%= image_tag 'services/service_style_17.jpg' %>
                        <i class="icon-recent_work_6"></i>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 align-self-center col-md-5">
                    <div class="single-service-v2-content">
                        <h4 class="xs-single-title"> Planting</h4>
                        <p>Eleifend dapibus magna potenti integer aptent id Faucibus gravida faucibus
                             maecenas orci nascetur. Aliquet ornare maecenas ac magna
                        </p>
                        <a href="#" class="load-more-btn">Details</a>
                    </div>
                </div>
            </div><!-- row end-->
        </div><!-- service-v2-item single-service-v2-item-1 end-->

        <div class="single-service-v2-item section-bg">
            <div class="row">
                <div class="col-lg-5 col-md-5 align-self-center">
                    <div class="single-service-v2-content">
                        <h4 class="xs-single-title"> Landscaping</h4>
                        <p>Eleifend dapibus magna potenti integer aptent id Faucibus gravida faucibus
                             maecenas orci nascetur. Aliquet ornare maecenas ac magna
                        </p>
                        <a href="#" class="load-more-btn">Details</a>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 col-md-7">
                    <div class="single-service-v2-img">
                        <%= image_tag 'services/service_style_17.jpg' %>
                        <i class="icon-Our_service_1"></i>
                    </div>
                </div>
            </div><!-- row end-->
        </div><!-- service-v2-item end-->

         <div class="single-service-v2-item single-service-v2-item-1">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="single-service-v2-img">
                    	<%= image_tag 'services/service_style_17.jpg' %>
                        <i class="icon-recent_work_6"></i>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 align-self-center col-md-5">
                    <div class="single-service-v2-content">
                        <h4 class="xs-single-title"> Garden maintenance</h4>
                        <p>Eleifend dapibus magna potenti integer aptent id Faucibus gravida faucibus
                             maecenas orci nascetur. Aliquet ornare maecenas ac magna
                        </p>
                        <a href="#" class="load-more-btn">Details</a>
                    </div>
                </div>
            </div><!-- row end-->
        </div><!-- service-v2-item single-service-v2-item-1 end-->

        <div class="single-service-v2-item section-bg">
            <div class="row">
                <div class="col-lg-5 col-md-5 align-self-center">
                    <div class="single-service-v2-content">
                        <h4 class="xs-single-title"> Roof gutter cleaning (no higher than 10ft)</h4>
                        <p>Eleifend dapibus magna potenti integer aptent id Faucibus gravida faucibus
                             maecenas orci nascetur. Aliquet ornare maecenas ac magna
                        </p>
                        <a href="#" class="load-more-btn">Details</a>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 col-md-7">
                    <div class="single-service-v2-img">
                        <%= image_tag 'services/service_style_17.jpg' %>
                        <i class="icon-Our_service_1"></i>
                    </div>
                </div>
            </div><!-- row end-->
        </div><!-- service-v2-item end-->

         <div class="single-service-v2-item single-service-v2-item-1">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="single-service-v2-img">
                    	<%= image_tag 'services/service_style_17.jpg' %>
                        <i class="icon-recent_work_6"></i>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 align-self-center col-md-5">
                    <div class="single-service-v2-content">
                        <h4 class="xs-single-title"> Lawn care</h4>
                        <p>Eleifend dapibus magna potenti integer aptent id Faucibus gravida faucibus
                             maecenas orci nascetur. Aliquet ornare maecenas ac magna
                        </p>
                        <a href="#" class="load-more-btn">Details</a>
                    </div>
                </div>
            </div><!-- row end-->
        </div><!-- service-v2-item single-service-v2-item-1 end-->
    </div><!-- .container end -->
</section><!-- End service inner section -->