<!--breadcumb start here-->
<section class="banner-inner-sec" style="background-image:url(<%= cloudinary_url 'avgarden/banner-1.jpg' %>)">
	<div class="banner-table">
		<div class="banner-table-cell">
			<div class="container">
				<div class="banner-inner-content">
					<h2 class="banner-inner-title">About Us</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<!--breadcumb end here-->
<!-- header about inner section -->
<section class="about-inner section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="300ms">
                <!-- <div class="about-inner-img"> -->
                    <%= cl_image_tag "avgarden/Photo-82", :crop => "scale", :width => 600 %>
                <!-- </div> -->
            </div><!-- col end -->
            <div class="col-lg-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="400ms">
                <div class="about-inner-content">
                    <h2 class="column-title2 column-title">About our Company</h2>
                   <div class="single-about-content">
                        <!-- <h3>You will morning man open green fruitful</h3> -->
                        <p><b>A&V Garden</b> are small company who offer a quality, flexible, personal and reliable service at a competitive price. Along with this you can have the peace of mind that we are fully insured. Our gardening services are available around the Island.
                        </p>
                   </div>
                   <div class="row about-funfact">
                       <div class="col-sm-4">
                            <div class="single-about-funfact">
                                <i class="icon-fun_fact_1"></i>
                                <h4 class="funfact-title" data-counter="5">5 +</h4>
                                <p>year of experience</p>
                            </div>
                       </div>
                       <div class="col-sm-4">
                            <div class="single-about-funfact">
                                <i class="icon-fun_fact_2"></i>
                                <h4 class="funfact-title" data-counter="2">2 +</h4>
                                <p>expert gardeners</p>
                            </div>
                       </div>
                       <div class="col-sm-4">
                            <div class="single-about-funfact">
                                <i class="icon-fun_fact_4"></i>
                                <h4 class="funfact-title" data-counter="50">50 +</h4>
                                <p>happy clients</p>
                            </div>
                       </div>
                   </div>
                </div>
            </div><!-- col end -->
        </div><!-- row end-->
    </div><!-- .container end -->
</section><!-- End about inner section -->


<!-- header why choose us section -->
<section class="why-choose-us-sec why-choose-inner section-padding section-bg-v2">
    <div class="container">
        <div class="row">
        <div class="col-lg-9 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="400ms">
                <div class="why-choose-content">
                    <h2 class="column-title2 column-title">Why Choose Us</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="single-why-choose-list">
                                <i class="icon-why-choose-2"></i> 
                                <h3>Best support</h3>
                                <p>We always hear our customers concerns and feedbacks.</p>
                        </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-why-choose-list">
                                 <i class="fa fa-pound-sign"></i>
                                <h3>No hidden cost</h3>
                                <p>You will always be kept informed of any work carried out and costs incurred during your case.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-why-choose-list">
                                 <i class="icon-why-choose-3"></i> 
                                <h3>Expert team members</h3>
                                <p>Over the years we've learned a thing or two about what our customers want – well-informed advice, inspiration and help with their garden projects big and small.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 align-self-center wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="500ms">
                <div class="why-choose-inner-img">
                    <%#= image_tag 'about/why-choose-us-inner.png' %>
                    <%= cl_image_tag "avgarden/Photo-27", :crop => "scale", :width => 600 %>
                </div>
            </div>
            
        </div><!-- row end-->
    </div><!-- .container end -->
</section><!-- End why choose us section -->

<!-- header team section -->
<section class="team-sec section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-item section-title-v2-item">
                    <h2 class="section-title">
                        <span class="xs-title">Our experts </span>
                        Meet with our Team
                    </h2>
                    <h3 class="hidden-title">experts</h3>
                </div>
            </div>
        </div><!-- .row end -->
        <div class="row">
            <div class="col-lg-4 col-sm-6 offset-lg-2">
                <div class="single-team">
                    <div class="team-img">
                        <%= image_tag cloudinary_url 'avgarden/profile-2.jpg' %>
                    </div>
                    <h3>Vince</h3>
                    <p>Gardener</p>
                </div>
            </div><!-- .col end -->
            <div class="col-lg-4 col-sm-6">
                <div class="single-team">
                    <div class="team-img">
                        <%= image_tag cloudinary_url 'avgarden/profile-3.jpg' %>
                    </div>
                    <h3>Alvin</h3>
                    <p>Gardener</p>
                </div>
            </div><!-- .col end -->
        </div><!-- .row end -->
    </div><!-- .container end -->
</section><!-- End team section -->

<!-- header ready to contact section -->
<section class="ready-to-contact section-padding">
    <div class="container">
       <div class="col-lg-8 offset-lg-2">
           <div class="ready-to-contact-content">
               <h2>Are you ready to take our service?</h2>
               <p>Our services will solve all of your needs.</p>
                <%= link_to 'CONTACT US', contact_us_path, class: "xs-btn fill" %>
           </div>
       </div>
    </div><!-- .container end -->
</section><!-- End ready to contact section 