<!-- start banner section -->
<section class="xs-banner-sec xs-banner-v2-sec owl-carousel banner-slider">
    <div class="banner-slider-item banner-item3" style="background-image: url(<%= cloudinary_url 'avgarden/Photo-30.jpg', :crop => "scale", :width => 1600 %>);">
        <div class="slider-table">
            <div class="slider-table-cell">
                <div class="container">
                    <div class="col-lg-8 offset-lg-4">
                        <div class="banner-content text-right">
                            <h2>Lawn Care Service </h2>
                            <p>Great lawn care works hard on preventing and controlling the spread of various weeds and pests as they pop up on your lawn throughout the year.
                            </p>
                            <div class="xs-btn-wraper">
                                <%= link_to 'Learn more', lawn_care_path, class: "xs-btn" %>
                                <%= link_to 'Get Quote', contact_us_path, class: "xs-btn fill" %>
                            </div><!-- .xs-btn-wraper END -->
                        </div><!-- .xs-welcome-wraper END -->
                    </div><!-- .column END -->
                </div><!-- .container end -->
            </div><!-- .slider table cell end -->
        </div><!-- .slider table end -->
    </div><!-- .xs-welcome-content END -->

    <div class="banner-slider-item banner-item2" style="background-image: url(<%= cloudinary_url 'avgarden/Photo-13.jpg', :crop => "scale", :width => 1600 %>);">
        <div class="slider-table">
            <div class="slider-table-cell">
                <div class="container">
                    <div class="col-lg-9">
                        <div class="banner-content">
                            <h2>Urban Gardening</h2>
                            <p>Wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring
                                whole
                                heart.
                            </p>
                            <div class="xs-btn-wraper">
                                <%= link_to 'Our Services', services_path, class: "xs-btn" %>
                                <%= link_to 'Get Quote', contact_us_path, class: "xs-btn fill" %>
                            </div><!-- .xs-btn-wraper END -->
                        </div><!-- .xs-welcome-wraper END -->
                    </div><!-- .column END -->
                </div><!-- .container end -->
            </div><!-- .slider table cell end -->
        </div><!-- .slider table end -->
    </div><!-- .xs-welcome-content END -->

    <div class="banner-slider-item banner-item1" style="background-image: url(<%= cloudinary_url 'avgarden/Photo-14.jpg', :width => 1600 %>);">
        <div class="slider-table">
            <div class="slider-table-cell">
                <div class="container">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="banner-content text-center">
                            <h2>We provide gardening service</h2>
                            <p>Wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring
                                whole
                                heart.
                            </p>
                            <div class="xs-btn-wraper">
                                <%= link_to 'Our Services', services_path, class: "xs-btn" %>
                                <%= link_to 'Get Quote', contact_us_path, class: "xs-btn fill" %>
                            </div><!-- .xs-btn-wraper END -->
                        </div><!-- .xs-welcome-wraper END -->
                    </div><!-- .column END -->
                </div><!-- .container end -->
            </div><!-- .slider table cell end -->
        </div><!-- .slider table end -->
    </div><!-- .xs-welcome-content END -->
</section><!-- End banner section -->

<!-- start about section -->
<section class="about-v2-sec section-padding about-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-item section-title-v2-item">
                    <h2 class="section-title"> <span class="xs-title">About Us</span><em>Who</em> we are?</h2>
                    <h3 class="hidden-title">About Us</h3>
                </div>
            </div>
        </div><!-- row end-->

        <div class="row">
            <div class="col-lg-2 col-md-12">
                <div class="nav flex-column about-tabs-menu" id="v-pills-tab" role="tablist"
                     aria-orientation="vertical">
                    <a class="active" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                       aria-controls="v-pills-messages" aria-selected="false">
                        <i class="icon-grass"></i>
                        Grass and Hedge cutting
                    </a>
                    <a class="" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                       aria-controls="v-pills-profile" aria-selected="false">
                        <i class="icon-caring"></i>
                        Lawn care
                    </a>
                    <a class="" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                       aria-controls="v-pills-home" aria-selected="true">
                        <i class="icon-planting-and-growth"></i>
                        Planting & Growth
                    </a>
                </div>
            </div>
            <div class="col-lg-10 col-md-12">
                <div class="about-tabs-item">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane show active" id="v-pills-messages" role="tabpanel"
                             aria-labelledby="v-pills-messages-tab">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="about-tabs-img">
                                      <%= cl_image_tag "avgarden/Photo-10.jpg", :crop => "scale", :width => 600 %>
                                    </div>
                                </div>
                                <div class="col-md-7 align-self-center">
                                    <div class="about-tabs-content">
                                        <h4>Grass and Hedge cutting</h4>
                                        <p>
                                            We recommend trimming back several times throughout the year. We'll also keep an eye on the health of your hedging, looking for any signs of disease that may require attention. As well as trimming, we can shape and prune; we can even make sure your topiary bushes are kept in pristine condition.
                                        </p>
                                        <%= link_to 'Learn More', grass_and_hedge_cutting_path, class: "xs-btn xs-v2-btn" %>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="v-pills-profile" role="tabpanel"
                             aria-labelledby="v-pills-profile-tab">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="about-tabs-img">
                                      <%= cl_image_tag "avgarden/Photo-58", :crop => "scale", :width => 600 %>
                                    </div>
                                </div>
                                <div class="col-md-7 align-self-center">
                                    <div class="about-tabs-content">
                                        <h4>Lawn care</h4>
                                        <p>
                                            Insect and weed control. Great lawn care works hard on preventing and controlling the spread of various weeds and pests as they pop up on your lawn throughout the year. Soil aeration and other services. Services such as soil aeration that give your soil room to breathe and your grass room to grow.
                                        </p>
                                        <ul>
                                            <li>
                                                <i class="icon icon-checked2"></i>
                                                Lawn Aeration
                                            </li>
                                            <li>
                                                <i class="icon icon-checked2"></i>
                                                Feed / Fertiliser
                                            </li>
                                            <li>
                                                <i class="icon icon-checked2"></i>
                                                Weeds & Weed Control
                                            </li>
                                            <li>
                                                <i class="icon icon-checked2"></i>
                                                Moss Control
                                            </li>
                                        </ul>
                                        <%= link_to 'Learn More', lawn_care_path, class: "xs-btn xs-v2-btn" %>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="v-pills-home" role="tabpanel"
                             aria-labelledby="v-pills-home-tab">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="about-tabs-img">
                                      <%= cl_image_tag "avgarden/IMG_2959.jpg", :crop => "scale", :width => 600 %>
                                    </div>
                                </div>
                                <div class="col-md-7 align-self-center">
                                    <div class="about-tabs-content">
                                        <h3>Planting & Growth</h3>
                                        <p>
                                            No job is too small or too large. From shrubs to trees, we are happy to do the dirty work for you
                                        </p>
                                        <%= link_to 'Learn More', planting_path, class: "xs-btn xs-v2-btn" %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- row end -->
    </div><!-- .container end -->
</section><!-- End  about section -->

<!-- start video section -->
<section class="video-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 xs-padding-0 align-self-center">
                <div class="video-item">
                    <%= cl_image_tag "avgarden/IMG_1999.jpg", :crop => "scale", :width => 1600 %>
                    <a href="https://www.youtube.com/watch?v=pYwBDEV5vnA" class="video-play-btn"><i class="icon icon-play-button2"></i></a>
                </div>
            </div>
            <div class="col-lg-5 xs-padding-0">
                <div class="call-to-action-v2">
                    <div class="call-back-content">

                        <h3><i class="icon icon-user-1"></i> Get a <span>call back</span></h3>
                        <p class="call-contact-text">
                            Lesser itself let won't over one signs unto you stars.
                           <span> Tell us your needs</span>
                        </p>
                        <form class="call-back-form">
                            <div class="form-group">
                                <input type="text" name="name" value="" placeholder="Your Name" class="call-back-inp">
                            </div>
                            <div class="form-group">
                                <input type="number" name="number" value="" placeholder="Phone Number " class="call-back-inp">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" value="" placeholder="Email " class="call-back-inp">
                            </div>
                            <div class="form-group call-back-btn">
                                <button type="submit" name="submit" class="xs-btn xs-v2-btn">Submit</button>
                                <label class="call-us-number">Or Call US - <span>07624 246477</span></label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- row end-->
    </div><!-- .container end -->
</section><!-- End  video section -->

<!-- start service section -->
<section class="service-v2-sec section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-item section-title-v2-item">
                    <h2 class="section-title">
                        <span class="xs-title">What we do</span>
                        <em>Our</em> services
                    </h2>
                    <h3 class="hidden-title">services</h3>
                </div>
            </div>
        </div><!-- row end-->

        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="single-services-item">
                            <i class="icon-gardening"></i>
                            <h3 class="xs-service-title">New Lawns</h3>
                            <p>
                                We can assist you on your new lawns from preparing the soil to achieve a healthy green lawn.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-services-item">
                            <i class="icon-grass-triming"></i>
                            <h3 class="xs-service-title">Moss Control</h3>
                            <p>
                                If your lawn is prone to moss, we provide moss control services to avoid them to get worse to the point where you have little or no grass left.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-services-item">
                            <i class="icon-Digging"></i>
                            <h3 class="xs-service-title">Weeds & Weed Control</h3>
                            <p>
                                We are here to help you achieve a weed free lawn. We can do good lawn care either manual weeding or through a sensible and correct use of the best selective lawn weed killers and sprayers.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-services-item">
                            <i class="icon-urban-gardening2"></i>
                            <h3 class="xs-service-title">Lawn Cutting</h3>
                            <p>
                                Mowing has one of the biggest influence on the good condition of your grass. Regardless of the size of your lawn, we can provide lawn cutting services to help improve your garden.
                            </p>
                        </div>
                    </div>
                </div>
            </div><!-- col end-->
            <div class="col-lg-4">
                <div class="services-img">
                    <%= cl_image_tag "avgarden/Photo-33.jpg", :crop => "scale", :height => 1120 %>
                </div>
            </div>
        </div><!-- row end-->
    </div><!-- .container end -->
</section><!-- End  service section -->

<!-- start funfact section -->
<section class="funfact-sec funfact-v2-sec" style="background-color: black">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 align-self-center">
                <div class="funfact-content">
                    <h2 class="column-title2 column-title">
                     <span class="xs-title-2">What make </span>
                        us Awesome
                    </h2>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-sm-4 col-md-4 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="300ms">
                        <div class="single-funfact">
                            <i class="icon-fun_fact_1"></i>
                            <h3 class="funfact-title" data-counter="5">5 <strong>+</strong></h3>
                            <p>year of experience</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="400ms">
                        <div class="single-funfact">
                            <i class="icon-fun-fact-02"></i>
                            <h3 class="funfact-title" data-counter="2">2 <strong>+</strong></h3>
                            <p>expert gardener</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="500ms">
                        <div class="single-funfact">
                            <i class="icon-fun_fact_4"></i>
                            <h3 class="funfact-title" data-counter="50">50 <strong>+</strong></h3>
                            <p>happy clients</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- row end-->
    </div><!-- .container end -->
</section><!-- End funfact section -->

<!-- start our project section -->
<section class="our-project-sec recent-work-sec section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-item section-title-v2-item">
                  
                    <h2 class="section-title">
                    <span class="xs-title">Recent work</span>
                        <em>Our</em> work
                    </h2>
                </div>
                <div class="recent-folio-menu xs-mb-50">
                    <ul class="work-folio-menu">
                        <li class="active filter" data-filter=".all">All</li>
                        <li class="filter" data-filter=".category1">Gardening</li>
                        <li class="filter" data-filter=".category2">Landscaping</li>
                    </ul>

                </div>
            </div>
        </div><!-- row end-->

        <div class="xs-portfolio-grid grid">
            <div class="xs-portfolio-grid-item category1 grid-item all">
                <!-- <a href="#popup_1" class="xs-single-portfolio-item xs-image-popup" data-effect="mfp-zoom-in"> -->
                    <%= cl_image_tag "avgarden/IMG_1609", :crop => "scale", :height => 300 %>
                    <div class="single-project-content">
                        <div class="xs-image-popup-icon">
                            <i class="icon icon-plus"></i>
                        </div>
                        <h3 class="xs-single-title">Gardening</h3>
                        <p>
                            
                        </p>
                    </div>
                </a><!-- .xs-single-portfolio-item END -->
                <div id="popup_1" class="container xs-gallery-popup-item mfp-hide">
                    <div class="row">
                        <div class="col-lg-5 xs-padding-0">
                            <div class="xs-popup-img">
                              <%= cl_image_tag "avgarden/IMG_1609", :crop => "scale", :height => 500, class: 'img-gallery-popup' %>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="xs-popup-content">
                                <h2 class="hidden-title">Project info</h2>
                                <h3>Garden Caring</h3>
                                <div class="row">
                                    <div class="col-lg-5">
                                        <ul class="xs-popup-left-content">
                                            <li>
                                                <i class="icon icon-calendar-full"></i>
                                                <label>Project date</label>
                                                <span>22 jan 2018</span>
                                            </li>
                                            <li>
                                                <i class="icon icon-tags"></i>
                                                <label>Category</label>
                                                <span>Garden care, Garden</span>
                                            </li>
                                            <li>
                                                <i class="icon icon-user2"></i>
                                                <label>Client</label>
                                                <span>Mr. Jordan, Newyork</span>
                                            </li>
                                            <li>
                                                <i class="icon icon-invest"></i>
                                                <label>Project value</label>
                                                <span>$ 500</span>
                                            </li>
                                            <li>
                                                <i class="icon icon-map-marker2"></i>
                                                <label>Location</label>
                                                <span>Douglas Isle of Man IM2 5HW
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="xs-popup-right-content">
                                            <p>
                                                Darkness dominion dominion her body creature appear make replenish.
                                                Bring shall him waters saw creepeth creepeth land divided.
                                            </p>
                                            <blockquote>
                                                “Each which life god all living form fruitful their fowl shed a stars he
                                                left”
                                            </blockquote>
                                            <p>
                                                Fowl she'd a stars he let. Creepeth deep sixth you is signs creature.
                                                Earth divide great whales.
                                            </p>
                                            <a href="#" class="xs-btn">PROJECT LINK</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .xs-portfolio-grid-item END -->

            <div class="xs-portfolio-grid-item category2 grid-item all">
                <!-- <a href="#popup_2" class="xs-single-portfolio-item xs-image-popup" data-effect="mfp-zoom-in"> -->
                    <%= cl_image_tag "avgarden/IMG_1994", :crop => "scale", :height => 300 %>
                    <div class="single-project-content">
                        <div class="xs-image-popup-icon">
                            <i class="icon icon-plus"></i>
                        </div>
                        <h3 class="xs-single-title">Landscapping</h3>
                        <p>
                            
                        </p>
                    </div>
                </a><!-- .xs-single-portfolio-item END -->
                <div id="popup_2" class="container xs-gallery-popup-item mfp-hide">
                    <div class="row">
                        <div class="col-lg-5 xs-padding-0">
                            <div class="xs-popup-img">
                                <%= cl_image_tag "avgarden/IMG_1994", :crop => "scale", :height => 500, class: 'img-gallery-popup' %>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="xs-popup-content">
                                <h2 class="hidden-title">Project info</h2>
                                <h3>Garden Caring</h3>
                                <div class="row">
                                    <div class="col-lg-5">
                                        <ul class="xs-popup-left-content">
                                            <li>
                                                <i class="icon icon-calendar-full"></i>
                                                <label>Project date</label>
                                                <span>22 jan 2018</span>
                                            </li>
                                            <li>
                                                <i class="icon icon-tags"></i>
                                                <label>Category</label>
                                                <span>Garden care, Garden</span>
                                            </li>
                                            <li>
                                                <i class="icon icon-user2"></i>
                                                <label>Client</label>
                                                <span>Mr. Jordan, Newyork</span>
                                            </li>
                                            <li>
                                                <i class="icon icon-invest"></i>
                                                <label>Project value</label>
                                                <span>$ 500</span>
                                            </li>
                                            <li>
                                                <i class="icon icon-map-marker2"></i>
                                                <label>Location</label>
                                                <span>Douglas Isle of Man IM2 5HW
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="xs-popup-right-content">
                                            <p>
                                                Darkness dominion dominion her body creature appear make replenish.
                                                Bring shall him waters saw creepeth creepeth land divided.
                                            </p>
                                            <blockquote>
                                                “Each which life god all living form fruitful their fowl shed a stars he
                                                left”
                                            </blockquote>
                                            <p>
                                                Fowl she'd a stars he let. Creepeth deep sixth you is signs creature.
                                                Earth divide great whales.
                                            </p>
                                            <a href="#" class="xs-btn">PROJECT LINK</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .xs-portfolio-grid-item END -->
            <div class="xs-portfolio-grid-item category2 grid-item all">
                <!-- <a href="#popup_3" class="xs-single-portfolio-item xs-image-popup" data-effect="mfp-zoom-in"> -->
                    <%= cl_image_tag "avgarden/IMG_1666", :crop => "scale", :height => 300 %>
                    <div class="single-project-content">
                        <div class="xs-image-popup-icon">
                            <i class="icon icon-plus"></i>
                        </div>
                        <h3 class="xs-single-title">Landscapping</h3>
                        <p>
                            
                        </p>
                    </div>
                </a><!-- .xs-single-portfolio-item END -->
                <div id="popup_3" class="container xs-gallery-popup-item mfp-hide">
                    <div class="row">
                        <div class="col-lg-5 xs-padding-0">
                            <div class="xs-popup-img">
                              <%= cl_image_tag "avgarden/IMG_1666", :crop => "scale", :height => 500, class: 'img-gallery-popup' %>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="xs-popup-content">
                                <h2 class="hidden-title">Project info</h2>
                                <h3>Garden Caring</h3>
                                <div class="row">
                                    <div class="col-lg-5">
                                        <ul class="xs-popup-left-content">
                                            <li>
                                                <i class="icon icon-calendar-full"></i>
                                                <label>Project date</label>
                                                <span>22 jan 2018</span>
                                            </li>
                                            <li>
                                                <i class="icon icon-tags"></i>
                                                <label>Category</label>
                                                <span>Garden care, Garden</span>
                                            </li>
                                            <li>
                                                <i class="icon icon-user2"></i>
                                                <label>Client</label>
                                                <span>Mr. Jordan, Newyork</span>
                                            </li>
                                            <li>
                                                <i class="icon icon-invest"></i>
                                                <label>Project value</label>
                                                <span>$ 500</span>
                                            </li>
                                            <li>
                                                <i class="icon icon-map-marker2"></i>
                                                <label>Location</label>
                                                <span>Douglas Isle of Man IM2 5HW
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="xs-popup-right-content">
                                            <p>
                                                Darkness dominion dominion her body creature appear make replenish.
                                                Bring shall him waters saw creepeth creepeth land divided.
                                            </p>
                                            <blockquote>
                                                “Each which life god all living form fruitful their fowl shed a stars he
                                                left”
                                            </blockquote>
                                            <p>
                                                Fowl she'd a stars he let. Creepeth deep sixth you is signs creature.
                                                Earth divide great whales.
                                            </p>
                                            <a href="#" class="xs-btn">PROJECT LINK</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .xs-portfolio-grid-item END -->
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="load-more-btn">
                    <%= link_to 'More View', our_work_path, class: "xs-btn xs-v2-btn" %>
                </div>
            </div>
        </div><!-- row end-->
    </div><!-- .container end -->
</section><!-- End our project section -->

<!-- start faq and client logo section -->
<section class="faq-and-client-logo-sec section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="faq-item xs-faq-item">
                    <div class="faq-content">
                        <h3>Frequently</h3>
                        <h4>Ask question</h4>
                    </div>
                    <div id="accordion">
                        <div class="faq-single-item">
                            <div class="card-header" id="headingOne">
                                <h5>
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                            aria-expanded="true" aria-controls="collapseOne">Is A&V Garden fully insured?
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Yes, we have a public liability insurance.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="faq-single-item">
                            <div class="card-header" id="headingTwo">
                                <h5>
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">Does A&V Garden supply their own equipment?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Yes, we provide our own equipment specific to the services required by the client.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="faq-single-item">
                            <div class="card-header" id="headingThree">
                                <h5>
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                        How do I pay?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        A&V Garden accepts payments by cash, bank transfer or cheque.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="faq-single-item">
                            <div class="card-header" id="headingFour">
                                <h5>
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseFour" aria-expanded="false"
                                            aria-controls="collapseFour">
                                        Does A&V Garden take away all the garden wastes?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Yes, we can take the garden wastes with us with few ad-hoc charge.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pt-3">
                <div class="client-logo-item faq-item">
                    <div class="faq-content">
                        <h3>Other </h3>
                        <h4>Questions </h4>
                    </div>

                    <div id="accordion">
                        <div class="faq-single-item">
                            <div class="card-header" id="headingFive">
                                <h5>
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseFive" aria-expanded="false"
                                            aria-controls="collapseFive">
                                        Do you clean patio or drive way?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Yes, we are equipped with professional pressure washing machine that can remove any dirt and moss.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="faq-single-item">
                            <div class="card-header" id="headingSix">
                                <h5>
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseSix" aria-expanded="false"
                                            aria-controls="collapseSix">
                                        Do you need access to electricity?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        No, our equipment uses petrol. The only access we need is water when cleaning patio or drive way.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="faq-single-item">
                            <div class="card-header" id="headingSeven">
                                <h5>
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseSeven" aria-expanded="false"
                                            aria-controls="collapseSeven">
                                        Do you operate all throughout the year?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Yes, we provide wide array of services for all seasons. You can visit our services page for details.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div><!-- row end-->
    </div><!-- .container end -->
</section><!-- End faq and client logo section -->

<!-- start tips and tricks section -->
<section class="tips-tricks-sec section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-item section-title-v2-item">
                   
                  
                    <h2 class="section-title">
                        <span class="xs-title">Types of</span>
                        <em>Lawn care</em> services
                    </h2>
                    <h3 class="hidden-title">Care</h3>
                </div>
            </div>
        </div><!-- row end-->

        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="single-tips-tricks tips-tricks-item">
                    <%= cl_image_tag "avgarden/Photo-27", :crop => "scale", :height => 500 %>
                    <div class="tips-tricks-content">
                        <h4>Grass and Hedge cutting</h4>
                        <%= link_to grass_and_hedge_cutting_path, class: "read_more" do %>
                            Read More <i class="icon icon-arrow-right"></i>
                        <% end %>
                    </div>
                    <div class="tag-line">Grass and Hedge cutting</div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-tips-tricks tips-tricks-item">
                    <%= cl_image_tag "avgarden/Photo-4", :crop => "scale", :height => 500 %>
                    <div class="tips-tricks-content">
                        <h4>Garden waste removal</h4>
                        <%= link_to garden_waste_removal_path, class: "read_more" do %>
                            Read More <i class="icon icon-arrow-right"></i>
                        <% end %>
                    </div>
                    <div class="tag-line">Garden waste removal</div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-tips-tricks tips-tricks-item">
                    <%= cl_image_tag "avgarden/Photo-35", :crop => "scale", :height => 500 %>
                    <div class="tips-tricks-content">
                        <h4>Lawn care</h4>
                        <%= link_to lawn_care_path, class: "read_more" do %>
                            Read More <i class="icon icon-arrow-right"></i>
                        <% end %>
                    </div>
                    <div class="tag-line">Lawn care</div>
                </div>
            </div>
        </div>
    </div><!-- .container end -->
</section><!-- End tips and tricks section -->

<!-- header team-1 section -->
<section class="team-v1-sec v2 section-padding section-bg-v2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 align-self-center">
                <div class="single-team-content">
                    <h2 class="column-title column-title2">Our <br/>expert team</h2>
                    <p>
                    Over the years we've learned a thing or two about what our customers want – well-informed advice, inspiration and help with their garden projects big and small.
                    </p>
                    <%= link_to 'CONTACT US', contact_us_path, class: "xs-btn" %>
                </div>
            </div><!-- .col end -->
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="single-team-item">
                            <%= image_tag cloudinary_url 'avgarden/profile-2.jpg' %>
                            <div class="single-team-cont">
                                <h3>Vince</h3>
                                <p>Gardener</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-team-item">
                            <%= image_tag cloudinary_url 'avgarden/profile-3.jpg' %>
                            <div class="single-team-cont">
                                <h3>Alvin</h3>
                                <p>Gardener</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .row end -->
    </div><!-- .container end -->
</section><!-- End team-1 section -->

<!-- start map section -->
<div class="map-sec">
    <div class="xs-maps-wraper">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1167.8983491907616!2d-4.485127216506763!3d54.16596489776477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486385309116e87d%3A0x9c00e9a4ede2727!2s8+Ballanard+Rd%2C+Douglas+IM2+5HR%2C+Isle+of+Man!5e0!3m2!1sen!2sph!4v1536482013890" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div><!-- End map section -->