<!-- footer section start -->
<footer class="xs-footer-sec xs-footer-v2">
    <div class="container">
        <div class="footer-top-item">
            <div class="xs-back-to-top">
                <a href="#" class="BackTo"><i class="fa fa-angle-double-up"></i> </a>
            </div>
          
        </div>
    
        <div class="footer-item">
            <div class="row">
                <div class="col-lg-3">
                    <div class="widgets">
                        <div class="footer-logo">
                            <%= link_to root_path do %>
                                <%= image_tag 'logo-footer.png', size: "120" %>
                            <% end %>
                        </div>
                        <p>
                            A small company who offer a quality, flexible, personal and reliable service at a competitive price. Along with this you can have the peace of mind that we are fully insured. Our gardening services are available around the Island.
                        </p>
                        <ul class="footer-social">
                            <!-- <li>
                                
                            </li> -->
                        </ul>
                    </div>
                </div><!-- col end -->
                <div class="col-md-3">
                    <div class="widgets">
                        <h3 class="widget-title">Usefull Links</h3>
                        <ul>
                            <li><%= link_to 'Home', root_path %></li>
                            <li><%= link_to 'Services', services_path %></li>
                            <li><%= link_to 'Our work', our_work_path %></li>
                            <li><%= link_to 'FAQ', faq_path %></li>
                            <li><%= link_to 'About us', about_path %></li>
                            <li><%= link_to 'Contact', contact_path %></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widgets">
                        <h3 class="widget-title">Our Services</h3>
                        <ul class="service-link">
                            <li><%= link_to 'Garden maintenance', garden_maintenance_path %></li>
                            <li><%= link_to 'Fencing and Fence painting', fencing_and_fence_painting_path %></li>
                            <li><%= link_to 'Weeding', weeding_path %></li>
                            <li><%= link_to 'Grass and Hedge cutting', grass_and_hedge_cutting_path %></li>
                            <li><%= link_to 'Garden waste removal', garden_waste_removal_path %></li>
                            <li><%= link_to 'Planting', planting_path %></li>
                            <li><%= link_to 'Landscaping', landscaping_path %></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widgets">
                        <h3 class="widget-title">Contact Us</h3>
                        <ul class="footer-contact-list">
                            <li>
                                <i class="icon icon-map-marker2"></i>
                                Visit our office
                                Sandford villa, 8 Ballanard Road, Douglas IM2 5HR, Isle of Man
                            </li>
                            <li>
                                <i class="icon icon-phone3"></i>
                                Inquire and contact us now 07624 246477
                            </li>
                            <li>
                                <i class="icon icon-envelope"></i>
                                Our email <%= mail_to "aandvgarden23@yahoo.com" %>
                            </li>
                            <li>
                                <i class="icon icon-facebook"></i>
                                Our Facebook page
                                <%= link_to 'https://www.facebook.com/alvinvincentgarden/', target: 'blank' do %>
                                    A&V Garden
                                <% end %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- row end -->
        </div>
        <div class="copyright-content">
            <div class="row">
            <div class="col-md-6">
                <p>Copyright <%= Time.now.year %>, <%= link_to 'avgarden', root_path %>. All Rights Reserved.</p>
            </div>
            </div>
        </div><!-- copyright end -->
    </div><!-- container end -->
</footer>