<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h4 class="text-success">
        <%= link_to 'Back', contacts_path, class: 'float-right btn btn-success btn-sm' %>
        <%= link_to 'Destroy', @contact, method: :delete, data: { confirm: 'Are you sure?' }, class: 'float-right btn btn-danger btn-sm mr-1' %>
      </h4>
      <div class="container pb-5">
        <div class="single-testmonial">
          <div class="testmonial-author">
            <h4 class="xs-author-title"><%= @contact.name %></h4>
            <p><%= mail_to @contact.email %></p>
            <p><%= @contact.number %></p>
          </div>
          <p><%= @contact.message %></p>
        </div>
      </div>
      <!-- .container end -->
    </div>
  </div>
</div>