<!DOCTYPE html>
<html>
  <head>
    <title>Avgarden</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i', 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%#= render 'shared/preloader' %>
    <%= render 'shared/header_top' %>
    <%= render 'shared/header_middle' %>
    <%= render 'shared/header_nav' %>
    <% if signed_in? %>
      <%= render 'shared/flash' %>
    <% end %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>